include AUTHORS
include LICENSE
include DESCRIPTION
include CHANGELOG.txt
include README.md
graft cmsplugin_googlemap
global-exclude *.orig *.pyc *.log *.swp
prune cmsplugin_googlemap/tests/coverage
prune cmsplugin_googlemap/.ropeproject
